.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 80px;
  position: relative;
  z-index: 1;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.blogText {
  text-align: justify;
  width: 100%;
  max-width: 800px;
}

.blogText p {
  text-align: justify;
  margin-bottom: 1em;
}

.datesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2.5rem;
  margin-bottom: 25px;
}

.datesWrapper span {
  font-size: 0.8rem;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .datesWrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
}
