.description {
  font-size: 1rem;
  color: #d1d5db;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.5;
}

.margin {
  margin-bottom: 1.5rem;
}

.noMargin {
  margin-bottom: 0;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.25rem;
  }
}
