.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  position: relative; /* Ensures it's above the background */
  z-index: 1; /* Makes sure content is above background */
  gap: 1rem;
  padding: 1rem; /* Prevents edge touching on small screens */
  box-sizing: border-box;
}

.messageForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.disclaimer {
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.textarea {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  resize: none;
  padding: 0.5rem;
  width: 100%;
}

.characterLimitWrapper {
  display: flex;
  justify-content: right;
  align-items: right;
}

.characterLimitText {
  text-align: right;
  font-size: 0.65rem;
}

.submitButton {
  margin-top: 0.85rem;
  width: 90%;
}
